@import '~@arcgis/core/assets/esri/themes/dark/main.css';

.App {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.MapView {
    height: calc(100vh - 50px)
}

.HeaderView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #04f625;
    background: #242424;
}

.Toggle.react-toggle--checked .react-toggle-track {
    background: blue;
}

.Toggle.react-toggle-thumb {
    background: red;
}
